# Lists

In [6]:
my_list = [1, 2, 3, 'Python', 4, 5]
print("List sample", my_list)

List sample [1, 2, 3, 'Python', 4, 5]

In [8]:
print("Second element of the list", my_list[1])

Second element of the list 2

In [18]:
def insert_at(l, position, e):
    left_part = l[:position] #this is a list
    left_part.append(e) #this is another list
    right_part = l[position:] #a list
    return left_part+right_part

my_list1 = [1,2,3,4,5,6,7,8,9]
insert_at (my_list1, 5, 9999)

[1, 2, 3, 4, 5, 9999, 6, 7, 8, 9]

In [19]:
def insert_at_a(l, position, e):
    return l[:position] + [e] + l[position:]

my_list1 = [1,2,3,4,5,6,7,8,9]
insert_at (my_list1, 5, 9999)

[1, 2, 3, 4, 5, 9999, 6, 7, 8, 9]

In [30]:
my_list1.insert(6, 9999)
print(my_list1)
dir(my_list1.insert)

[1, 2, 3, 4, 5, 6, 9999, 7, 8, 9]

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [10]:
my_list[1] = 20
my_list.append(True)
print("List sample", my_list)

List sample [1, 20, 3, 'Python', 4, 5, True]

In [24]:
my_list.remove(my_list[2])
my_list
print("Left part of the sample", my_list[:3])
print("Left part of the sample", my_list[3:])
print("Concatenate the two lists", my_list[:3] + my_list[3:])

Left part of the sample [1, 20, 4]
Left part of the sample [5, True]
Concatenate the two lists [1, 20, 4, 5, True]

# Tuples

In [35]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)
print(type(my_tuple))
print(my_tuple[0])
#my_tuple.append("orange") #forbidden because tuples are immutable

('apple', 'banana', 'cherry')
<class 'tuple'>
apple

# Dictionaries

In [36]:
my_dict = {"Name" : "Alice", "Age" : 25, "Location" : "New York"}
my_dict
#my_dict[1] is an error, because lists are unordered

{'Name': 'Alice', 'Age': 25, 'Location': 'New York'}

In [38]:
my_dict["Country"] = "United States"
my_dict

{'Name': 'Alice',
 'Age': 25,
 'Location': 'New York',
 'Country': 'United States'}

In [39]:
my_dict["Location"]

'New York'

In [40]:
my_dict["Age"] = 35
my_dict

{'Name': 'Alice',
 'Age': 35,
 'Location': 'New York',
 'Country': 'United States'}

In [43]:
my_dict["Tuple"] = my_tuple
print(my_dict)
print(my_dict["Tuple"][1])

{'Name': 'Alice', 'Age': 35, 'Location': 'New York', 'Country': 'United States', 'Tuple': ('apple', 'banana', 'cherry')}
banana

# Sets

In [44]:
my_set = {1,2,3,4,5,6,5,5,1,1,1,1}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [46]:
my_set.add(9) #accepts only one element
print(my_set)

{1, 2, 3, 4, 5, 6, 9}

7

In [47]:
# Common functions
print(len(my_set))
print(len(my_tuple))
print(len(my_dict))
print(len(my_list))

7
3
5
5

# For loops

In [49]:
range(5) #elements from 0 to 5 (0,1,2,...)
range(5)[3]

3

In [50]:
for i in range(5):
    print(i)

0
1
2
3
4

In [53]:
my_list = [1,4,7,10,-5]

for i in my_list:
    print(i)

1
4
7
10
-5

In [54]:
my_tuple = {3, -2, "Hello", True}

for i in my_tuple:
    print(i)

Hello
True
3
-2

In [59]:
for i in range(10):
    print(f"Barbera {i}")

Barbera 0
Barbera 1
Barbera 2
Barbera 3
Barbera 4
Barbera 5
Barbera 6
Barbera 7
Barbera 8
Barbera 9

In [60]:
for i in range(10):
    print("Barbera")

Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera

# While loops

In [61]:
counter = 0
while counter < 5:
    print(counter)
    counter +=1

0
1
2
3
4

In [62]:
counter = 0
while counter < 5:
    print(counter)
    counter +=1
    if counter == 3:
        break           #when counter is 3, the condition is true and the function stops

print(counter)

0
1
2
3

In [64]:
counter = 0
while counter < 5:
    print(f"counter within the loop {counter}")
    counter +=1
    if (counter == 3):
        break

print(f"counter outside the loop {counter}")

counter within the loop 0
counter within the loop 1
counter within the loop 2
counter outside the loop 3

# Error handling

In [72]:
try:
    x = 3/0

except ZeroDivisionError as e:
    print(e)

division by zero

In [75]:
try: 
    x = 10 + "abc"

except TypeError as e:
    print(f"The following error occured: {e}")

The following error occured: unsupported operand type(s) for +: 'int' and 'str'

In [80]:
my_list = [1,2,3,4,5]

try: 
    print(my_list[10])

except Exception as e:    #Exception is a generci name for errors
    print(f"The error is the following: {e}")

The error is the following: list index out of range