In [11]:
if 10 > 5:
    print("Ten is greater than five!")

print("Today is sunny")

Ten is greater than five!
Today is sunny

In [8]:
if 10 > 50:
    print("Ten is greater than five!")
else:
    print("It's lower")
    
print("Today is sunny")

It's lower
Today is sunny

In [15]:
def sum(a,b):
    """
    This function receives two values that are summed together
    """
    result = a+b #a is added to b and associated with "result"
    return result #we return the "result" variable

sum(10,20)

30

In [16]:
sum ("Mike","Elisa")

'MikeElisa'

In [17]:
#We can't concatenate different data types
sum ("Mike",0)

TypeError: can only concatenate str (not "int") to str

In [18]:
"Mike"*100

'MikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMike'

In [39]:
age = 30.5

In [21]:
print(age)

30

In [22]:
Age = 40

In [23]:
age

30

In [24]:
Age #Python is case sensitive

40

In [26]:
building1 = "Church"

In [37]:
building1_name = "Church" #snake syntax
building1Name = "Church" #camel syntax
building1_height = 100

building2_name = "Stadium"
building1_height = 200

building3_name = "Igloo"
building3_height = 1

In [29]:
building2_name

'Stadium'

In [32]:
print(building2_name)

Stadium

In [34]:
age = 40 
student_name = "Maria"
print(student_name)
student_name+student_name

Maria

'MariaMaria'

In [35]:
type(student_name)

str

In [36]:
type(Age)

int

In [38]:
type(building3_height)

int

In [40]:
type(age)

float

In [41]:
dangerous = True

In [42]:
type(dangerous)

bool

In [43]:
type(3>5)

bool

In [44]:
d = str(dangerous)

In [45]:
type(d)

str

In [46]:
d

'True'

In [47]:
s = "20"

In [48]:
s+s

'2020'

In [49]:
int(s)+int(s)

40

In [50]:
a = 10
b = "Julie"
c = True
d = 3.5

In [53]:
type(a)

int

In [54]:
type(b)

str

In [1]:
10 % 3

1

In [5]:
def is_even(a):
    """
    This function returns True if number is even, 
    otherwise it returns False
    """
    result = a % 2
    if result == 1:
        return False
    else:
        return True

is_even(10)

True

In [7]:
def is_even_2(a):
    """
    This function returns True if number is even, 
    otherwise it returns False
    """
    if a % 2 == 1:
        return False
    else:
        return True

is_even(10)

True

In [6]:
is_even(11)

False

In [8]:
is_even_2(11)

False

In [10]:
def is_even_3(a):
    """
    This function returns True if number is even, 
    otherwise it returns False
    """
    if a % 2 == 0:
        return True

    return False

is_even_3(11)

False

In [12]:
def is_even_4(a):
    return (a % 2 == 0) #returns True if the result is 0, otherwise returns False

is_even_4(13)

False

In [13]:
2**10

1024

In [16]:
2 ** (3.5)

11.313708498984761

In [18]:
print(11//3)
print(11/3)

3
3.6666666666666665

In [22]:
a = 10
b = 5
a += b #equivalent to "a = a+b"

a #shortcut change a

15

In [24]:
a != b

True

In [25]:
s = 'My wife told me: "You have to fix the sink!"'
s

'My wife told me: "You have to fix the sink!"'

In [26]:
s2 = """These are the results:
- Mike: 3
- Elisa: 10
"""
s2

'These are the results:\n- Mike: 3\n- Elisa: 10\n'

In [31]:
s3 = "Today is a nice day!"
print(s3)
print(s3[:10])
print(s3[-10:])
print(s3[4:6]) #it excludes the last number (ex. 6th)

Today is a nice day!
Today is a
 nice day!
y

In [32]:
print(s3[2:6:2]) #take from 2 to 6, skip every 1 character until a max of 2

dy

In [35]:
print(s3.upper())
print(s3.lower())

TODAY IS A NICE DAY!
today is a nice day!

In [37]:
s3.find("nice") #used to search for words: the word starts at the 11th place

11

In [42]:
print(s3.replace("nice", "bad"))
print(s3.replace("nice", "bad".upper()))

Today is a bad day!
Today is a BAD day!

In [47]:
name = "Angela"
print(name)
print("Hello " + name)
print("Hello, {name}!")
print(f"Hello, {name}!") #we need to convert it to an f string
print(f"Hello,\n{name}!")

Angela
Hello Angela
Hello, {name}!
Hello, Angela!
Hello,
Angela!