In [1]:
a = "This is a 'single quote'"
a

"This is a 'single quote'"

In [2]:
a2 = 'This is a "double" quote'
a2

'This is a "double" quote'

In [4]:
a3 = """ This is a multiple line quote:
third exercise.
"""
a3

' This is a multiple line quote:\nthird exercise.\n'

In [5]:
b = "sunny"
print(f"Today is a {b} day")

Today is a sunny day

In [6]:
slice = a2[:2]+a2[-2:]
slice

'Thte'

In [11]:
slice1 = a2[:2].lower()+a2[-2:].upper()
slice1

'thTE'

Python operators exercises

In [14]:
def ex_2(a,b):
    return (a+b, a-b, a*b, a/b, a**b, a%b, a//b)

ex_2(5,7)

(12, -2, 35, 0.7142857142857143, 78125, 5, 0)

In [1]:
print(5>7)
print(5==9)
print(5>2)

False
False
True

In [4]:
print(not(5>8 and 7==10))
print(8>3 and 2>6)
print(5<2 or 9>2)
print(5<3 and (7<9) or 4>1)
print(5<3 and (7<9) or 4<1)

True
False
True
True
False

# Loops exercises

In [1]:
for i in range(2,21):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [2]:
x = 10
value = x/2
while value >= 1:
    print(value)
    value -= 1

5.0
4.0
3.0
2.0
1.0

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
for i in numbers:
    if i <= 5:
        print(i)
    else:
        break

print("Loop is terminated")

1
2
3
4
5
Loop is terminated

Exercise 4 nested loops

In [14]:
for i in range(3):          #inner loop for 3 rows
    for j in range(5):      #inner loor for 5 columns
        print("*", end= "") #when it it prints something it doesn't have to go to the next line
    print()

*****
*****
*****