In [1]:
import numpy as np

dataset = np.genfromtxt("data.csv", delimiter = ";")

In [2]:
dataset

array([[ 92.,  68.,  72.,  71.,  96.,  61.,  69.,  30.,  59.,  12.,  31.,
         10.,  38.,  88.,  84.],
       [ 21.,  23.,  48.,  16.,  35.,  40.,  63.,  80.,   2.,  23.,  54.,
         25.,   4.,  46.,  97.],
       [ 26.,  55.,  32.,  82.,  85.,  91.,  39.,  58.,  13.,  50.,  20.,
         66.,  33.,  81.,  95.],
       [ 18.,  74.,  40.,  37.,   8.,  31.,  77.,   9.,  50.,  36.,  37.,
         59.,  84.,  28.,  74.],
       [ 53.,  67.,  16.,  47.,  86.,   7.,  31.,  23.,   1.,  56.,  54.,
        100.,  40.,  93.,  16.],
       [  4.,   9.,  93.,  37.,  41.,  27.,  60.,  63.,  62.,  51.,   9.,
         67.,  23.,  12.,  69.],
       [  1.,  34.,  61.,  26.,  63.,  28.,  35.,   8.,  96.,  93.,  63.,
         63.,  80.,  41.,  52.],
       [ 49.,  94.,  16.,  99.,  81.,  21.,  57.,  99.,  24.,  14.,  69.,
         70.,  43.,  70., 100.],
       [ 65.,  38.,  18.,  45.,  11.,  63.,  58.,  55.,  83.,   4.,  28.,
         14.,   4.,   7.,  94.],
       [ 87.,  58.,  49.,  35.,  68.,  54.,  38.,  74.,  73.,  51.,  72.,
         74.,  46.,  37.,  36.],
       [ 99.,  40.,   1.,  41.,  35.,  15.,  38.,  26.,  54.,  65.,  85.,
          8.,  30.,  61.,  79.],
       [ 55.,  21.,  96.,   6.,  12.,  93.,  77.,  90.,  36.,  44.,  65.,
         76.,  63.,  36.,   6.],
       [ 63.,  83.,  30.,  22.,  84.,  40.,  41.,  96.,  72.,  99.,  81.,
         78.,  67.,  62.,   6.],
       [100.,  96.,  49.,  15.,  45.,  80.,  55.,  12., 100.,  48.,  13.,
         52.,  81.,  91.,   2.],
       [ 71.,  10.,  57.,  39.,   9.,  97.,  94.,  49.,  50.,  51.,  42.,
         92.,  29.,  11.,  30.],
       [ 92.,  37.,  58.,  92.,  66.,  11.,   9.,  94.,   1.,  69.,  36.,
         94.,  72.,  63.,  52.],
       [ 34.,  86.,  30.,  64.,   9.,  24.,  92.,   5.,   1.,  49.,  48.,
         33.,  43.,  29.,   1.],
       [ 42.,  27.,  70.,  83.,   2.,  67.,  58.,  15.,  56.,   5.,  31.,
         27.,   5.,  22.,   3.],
       [ 90.,  44.,  23.,  73.,  40.,  58.,   9.,  68.,  17.,  56.,  55.,
         26.,  22.,  64.,  21.],
       [  2.,  42.,  73.,  43.,  92.,  33.,  67.,  21.,  74.,  92.,  44.,
         96.,  38.,  88.,  33.],
       [ 87.,  85.,  46.,   3.,  66.,  49.,  78.,  89.,  93.,  49.,  80.,
         68.,  40.,  52.,  31.],
       [ 37.,  45.,  20.,  27.,  14.,  80.,  54.,  57.,  79.,  55.,  72.,
         91.,  94.,  34.,  30.],
       [ 67.,  98.,  85.,  52.,  47.,  74.,  83.,  31.,  53.,  20.,  95.,
         45.,  99.,  40.,  53.],
       [ 65.,  53.,  95.,  45.,  87.,  40.,  38.,  14.,  15.,  10.,  47.,
         11.,  94.,   4.,  57.],
       [ 39.,  99.,  89.,  47.,  70.,  91.,  13.,   8.,  67.,  84.,  81.,
         92.,  99.,  42.,   8.],
       [ 89.,  31.,  25.,  44.,   9.,  47.,  10.,  99.,   5.,  35.,  57.,
         39.,  60.,  51.,  43.],
       [ 51.,  74.,  32.,  84.,  97.,  80.,  28.,  84.,  35.,   8.,  90.,
         81.,  13.,  32.,  38.],
       [ 23.,  47., 100.,  79.,  29.,  26.,  96.,  28.,  75.,  32.,   7.,
          7.,  31.,  36.,  61.],
       [ 16.,  90.,  83.,  46.,  76.,  68.,   1.,  44.,  71.,  65.,  88.,
         32.,  76.,  19.,  51.],
       [ 59.,  87.,  23.,  60.,  88.,  69.,  42.,  86.,  66.,   1.,  67.,
         77.,  29.,  24.,   2.],
       [ 15.,  56.,  89.,  16.,  66.,  82.,   8.,  15.,  23.,  92.,  76.,
         85.,  58.,  28.,  76.],
       [ 59.,  28.,  46.,  77.,  81.,  34.,  99.,  12.,  41.,  44.,   6.,
         54.,  49.,  80.,  91.],
       [ 95.,  35.,  25.,  18.,  26.,  68.,  44., 100.,  35.,  39.,   9.,
         24.,  55.,  27.,  80.],
       [ 23.,  56.,  29.,  50.,  23.,  53.,  49.,  77.,  59.,  41.,  53.,
          5.,  77.,  72.,  70.]])

In [5]:
dataset.sum()

np.float64(25718.0)

In [7]:
# sum of a single column
column_index = 0
column_data = dataset[:, column_index] # : means all the elements in that column and column_index says column 0
column_data

array([ 92.,  21.,  26.,  18.,  53.,   4.,   1.,  49.,  65.,  87.,  99.,
        55.,  63., 100.,  71.,  92.,  34.,  42.,  90.,   2.,  87.,  37.,
        67.,  65.,  39.,  89.,  51.,  23.,  16.,  59.,  15.,  59.,  95.,
        23.])